# Python
.venv/
__pycache__/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints/

# visual studio code
.vscode/

# test any codes
playground/

# mac
.DS_Store

# submit
submit/

# figures(pdf)
torch_mnn/figures/

# MNIST dataset
torch_mnn/data/