# jupyter lab
jupyterlab==4.6.3

# data analysis
numpy==2.5.2
pandas==3.0.5

# graph
matplotlib==3.11.1
seaborn==0.13.2

# machine learning
scikit-learn==1.9.0

# visualize missing values
missingno==0.5.2